<%= form_for [:admin, @post] do |f| %>

<div class="row">
  <div class="col-md-4">
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this Post from
      being saved:</h2>
      <ul class="list-unstyled">
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
<!--      <div class="form-group">-->
        
        
<!--      </div>-->
        <%= f.submit 'Submit', class: "btn btn-success" %>
  </div>
</div>

<% end %>