<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <ol class="breadcrumb">
<!--      <li>-->
<!--        <a href="/">Главная</a>-->
<!--      </li>-->

      <li>
        <strong> <%= I18n.t("categories.#{controller_name}") %> / </strong>
      </li>

<!--    <h2><%#= I18n.t("categories.#{controller_name}.#{action_name}") %></h2>-->

      <li>
        <div><%= content_for :breadcrumb %></div>
      </li>


    </ol>
  </div>
</div>